{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
<div class="post">
  <div class="date">
    {{ post.published_date }}
  </div>
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
  <h3>Vidéos</h3>
  <ol>
  {% for v in post.les_videos %}
    <li><a href="{{ v.url }}" target="_viewpage">{{ v.comment }}</a></li>
  {% endfor %}
  </ol>
</div>
{% endfor %}
{% endblock %}
